/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
html {
  max-width: 390px;
  margin: auto;
}

body {
  box-shadow: 0px 0px 20px #4C4C4C;
  padding-bottom: 70px;
  position: relative;
}

.top-wall {
  background: #4C4C4C;
  color: #4C4C4C;
  padding: 15px 191px;
  position: fixed;
  z-index: 2;
}

.position-1,
.position-2,
.position-3,
.position-4 {
  padding: 15px;
}

.position-1 {
  padding-top: 70px;
  position: relative;
}

.square-first {
  background: #D8D8D8;
  padding: 22px;
  margin: 0 160px;
  position: absolute;
  top: 85px;
  right: -130px;
}

.rectangle-first-red {
  background: #E00000;
  padding: 20px 40px;
  margin: 50px 110px;
  transform: rotate(90deg);
  position: fixed;
  top: 130px;
  left: -130px;
}

.position-2 {
  position: relative;
}

.bottom-banner {
  opacity: 0.58;
  background: #D8D8D8;
  padding: 22px 180px;
  position: absolute;
  bottom: 15px;
}

.position-3 {
  position: relative;
}

.bgd-rectangle {
  opacity: 0.58;
  background: #D8D8D8;
  padding: 82px 160px;
  margin: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.position-4 {
  position: relative;
}

.little-squares {
  display: inline;
  background: #D8D8D8;
  padding: 10px 10px;
  margin: 5px 5px;
}

.little-squares-1 {
  position: absolute;
  top: 25px;
  left: 25px;
}

.little-squares-2 {
  position: absolute;
  top: 25px;
  left: 55px;
}

.little-squares-3 {
  position: absolute;
  top: 25px;
  left: 85px;
}

.little-rectangle {
  background-color: #D8D8D8;
  padding: 20px 30px 20px 40px;
  margin: 15px 5px 25px 15px;
  position: absolute;
  top: 80px;
  left: 145px;
}

.position-5 img {
  width: 47%; 
}

.position-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 8px 10px 12px;
  padding-bottom: 15px;
  position: relative;
}

.little-banner {
  opacity: 0.7;
  background: #D8D8D8;
  padding: 22px 87.5px;
}

.lb-1 {
  position: absolute;
  bottom: 15px;
  left: 5px;
}

.lb-2 {
  position: absolute;
  bottom: 15px;
  right: 5px;
}

.dot {
  height: 44px;
  width: 44px;
  background-color: #E00000;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 15px;
}